## Introduction

This Project explores data on Movies in the Box Office for the weekends of 2022. Columns are; 

| Columns |
| ------- |
| Date    |
| Occassion; Special weekends or not |
| Gross Revenue of Top 10 Movies in the weekend |
| Change in Top 10 Gross Revenue from last weekend |
| Overall Gross Revenue So far |
| Overall Gross Revenue in the weekend |
| Change in Overall Gross Revenue from last weekend |
| Number of releases that weekend |
| Top  movie released that weekend |
| Week Number |

### Steps Taken
1. Scrape data from the Box Office Website using requests and BeautifulSoup
2. Save Data in a CSV
3. Clean Data in Python using Pandas and other libraries
4. Visualize the **cleaned** data in Power BI

## Scrape Data and Save in CSV

In [207]:
#Import necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

In [208]:
#website page containing the data
url = 'https://www.boxofficemojo.com/weekend/by-year/2022/'

In [209]:
#request data from the website
request = requests.get(url)
content = request.text

In [210]:
soup = BeautifulSoup(content)

In [211]:
#find all information that is in rows in a table
rows = soup.find_all('tr')

In [212]:
#gather the data in the rows in the html table into an actual table
appended_data = []
for row in rows:
    data_row = {}
    data = row.find_all('td')
    if len(data) == 0:
        continue
    if len(data[0].find_all('span')) > 0:
        #special weekend
        data_row['occasion'] = data[0].find_all('span')[0].text
        data_row['date'] = data[0].find_all('a')[0].text
    else:
        #normal weekend
        data_row['occasion'] = ""
        data_row['date'] = data[0].text
    data_row['top10_gross'] = data[1].text
    data_row['top10_gross_change'] = data[2].text
    data_row['overall_gross'] = data[3].text
    data_row['overall_gross_change'] = data[4].text
    data_row['num_releases'] = data[5].text
    data_row['top_release'] = data[6].text
    data_row['week_no'] = data[10].text
    appended_data.append(data_row)
weekend_data = pd.DataFrame(appended_data, columns = ['date','occasion', 'top10_gross', 'top10_gross_change', 'overall_gross', 'overall_gross_change', 'num_releases', 'top_release', 'week_no'])

### Make Data Suitable by cleaning and converting to appropriate Date Type

In [339]:
#check the data
weekend_data.head()

,date,occasion,top10_gross,top10_gross_change,overall_gross,overall_gross_change,num_releases,top_release,week_no
0,"Dec 30-Jan 2, 2023",New Year's long wknd,"$134,622,744",-,"$136,047,635",-,39,Avatar: The Way of Water,52
1,"Dec 30-Jan 1, 2023",,"$102,074,088",+8.6%,"$103,224,144",+9%,41,Avatar: The Way of Water,52
2,Dec 23-25,,"$93,952,740",-37.9%,"$94,711,196",-38.1%,35,Avatar: The Way of Water,51
3,Dec 23-26,Christmas long wknd,"$141,716,017",-,"$142,814,390",-,33,Avatar: The Way of Water,51
4,Dec 16-18,World Cup (Qatar),"$151,354,815",+355.1%,"$152,947,812",+305.6%,50,Avatar: The Way of Water,50

In [340]:
#to csv
weekend_data.to_csv("weekend_data_boxoffice")

In [341]:
#load csv
df = pd.read_csv('weekend_data_boxoffice')

In [342]:
#drop first column
df = df.drop(df.columns[0], axis=1)

In [343]:
pd.set_option('display.max_rows', None)

In [344]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  63 non-null     object
 1   occasion              15 non-null     object
 2   top10_gross           63 non-null     object
 3   top10_gross_change    63 non-null     object
 4   overall_gross         63 non-null     object
 5   overall_gross_change  63 non-null     object
 6   num_releases          63 non-null     int64
 7   top_release           63 non-null     object
 8   week_no               63 non-null     int64
dtypes: int64(2), object(7)
memory usage: 4.6+ KB

In [345]:
df.columns

Index(['date', 'occasion', 'top10_gross', 'top10_gross_change',
       'overall_gross', 'overall_gross_change', 'num_releases', 'top_release',
       'week_no'],
      dtype='object')

In [346]:
#overall gross and top 10 gross should change to float
#drop $ sign
df['top10_gross'] = df['top10_gross'].str.replace('$', ' ').str.replace(',', '').astype(float)
df["overall_gross"] = df["overall_gross"].str.replace("$", "").str.replace(",", "").astype(float)

C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\2607029925.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['top10_gross'] = df['top10_gross'].str.replace('$', ' ').str.replace(',', '').astype(float)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\2607029925.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["overall_gross"] = df["overall_gross"].str.replace("$", "").str.replace(",", "").astype(float)

In [354]:
#remove leading and trailing spaces
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [348]:
#change format of number columns
df['overall_gross_change'] = df['overall_gross_change'].str.replace('%', '')
df['top10_gross_change'] = df['top10_gross_change'].str.replace('%','')

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  63 non-null     object
 1   occasion              15 non-null     object
 2   top10_gross           63 non-null     float64
 3   top10_gross_change    63 non-null     object
 4   overall_gross         63 non-null     float64
 5   overall_gross_change  63 non-null     object
 6   num_releases          63 non-null     int64
 7   top_release           63 non-null     object
 8   week_no               63 non-null     int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.6+ KB

In [350]:
#convert date to datetime 
df['date'] = df['date'].str.split(' ').str[0]+' '+df['date'].str.split('-').str[1]

In [351]:
#specific cases dec jan 2,2023, required the dec and , to be removed
cleaned_date_str = df.loc[0, 'date'].replace('Dec', '').replace(',', '')
# Replace the original date string in the DataFrame with the cleaned version
df.loc[0, 'date'] = cleaned_date_str

cleaned_date_str = df.loc[1, 'date'].replace('Dec', '').replace(',', '')
# Replace the original date string in the DataFrame with the cleaned version
df.loc[1, 'date'] = cleaned_date_str

cleaned_date_str = df.loc[18, 'date'].replace('Sep', '').replace(',', '')
df.loc[18, 'date'] = cleaned_date_str

cleaned_date_str = df.loc[43, 'date'].replace('Apr', '').replace(',', '')
df.loc[43, 'date'] = cleaned_date_str

In [352]:
#add 2022 to the dates without year
df['date'] = df['date'].apply(lambda x: x + " 2022"  if "2023" not in x else x)

In [355]:
#convert date to datetime format
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%b %d %Y').strftime('%d/%m/%Y'))

In [356]:
df

,date,occasion,top10_gross,top10_gross_change,overall_gross,overall_gross_change,num_releases,top_release,week_no
0,02/01/2023,New Year's long wknd,134622744.0,-,136047635.0,-,39,Avatar: The Way of Water,52
1,01/01/2023,NaN,102074088.0,+8.6,103224144.0,+9,41,Avatar: The Way of Water,52
2,25/12/2022,NaN,93952740.0,-37.9,94711196.0,-38.1,35,Avatar: The Way of Water,51
3,26/12/2022,Christmas long wknd,141716017.0,-,142814390.0,-,33,Avatar: The Way of Water,51
4,18/12/2022,World Cup (Qatar),151354815.0,+355.1,152947812.0,+305.6,50,Avatar: The Way of Water,50
5,11/12/2022,World Cup (Qatar),33258801.0,-32.4,37708268.0,-28.4,58,Black Panther: Wakanda Forever,49
6,04/12/2022,Post-ThanksgivingWorld Cup (Qatar),49166499.0,-45.2,52669526.0,-43.8,54,Black Panther: Wakanda Forever,48
7,27/11/2022,Thanksgiving 3-DayWorld Cup (Qatar),89735916.0,-9.4,93780231.0,-6.9,49,Black Panther: Wakanda Forever,47
8,27/11/2022,Thanksgiving 4-DayWorld Cup (Qatar),106837323.0,-,111394577.0,-,36,Black Panther: Wakanda Forever,47
9,27/11/2022,Thanksgiving 5-DayWorld Cup (Qatar),128658959.0,-,134030714.0,-,37,Black Panther: Wakanda Forever,47
10,20/11/2022,NaN,98996721.0,-52.1,100684871.0,-51.9,53,Black Panther: Wakanda Forever,46
11,13/11/2022,NaN,206857668.0,+283.9,209537723.0,+255.6,51,Black Panther: Wakanda Forever,45
12,06/11/2022,NaN,53888688.0,-15.2,58930348.0,-13.1,56,Black Adam,44
13,30/10/2022,NaN,63565774.0,-42.3,67841734.0,-40.3,57,Black Adam,43
14,23/10/2022,NaN,110164317.0,+51.5,113651016.0,+48.9,58,Black Adam,42
15,16/10/2022,NaN,72697268.0,+35.2,76347045.0,+29.5,57,Halloween Ends,41
16,10/10/2022,Indig. Peoples' Day wknd,61664865.0,-,67265387.0,-,45,Smile,40
17,09/10/2022,NaN,53759907.0,-5.3,58977399.0,-7.8,67,Smile,40
18,02/10/2022,NaN,56765793.0,+1.8,63993367.0,+2.5,71,Smile,39
19,25/09/2022,NaN,55769690.0,+29.5,62428984.0,+21.3,72,Don't Worry Darling,38
20,18/09/2022,NaN,43050766.0,+26.8,51459761.0,+19.1,74,The Woman King,37
21,11/09/2022,NaN,33945638.0,-19.9,43193037.0,-22.4,69,Barbarian,36
22,04/09/2022,NaN,42395247.0,+2.4,55664136.0,+6.7,63,Top Gun: Maverick,35
23,05/09/2022,Labor Day wknd,54205807.0,-,71172772.0,-,55,Top Gun: Maverick,35
24,28/08/2022,NaN,41408038.0,-40.2,52149248.0,-33.9,64,The Invitation,34
25,21/08/2022,NaN,69281199.0,+25,78931261.0,+20.7,58,Dragon Ball Super: Super Hero,33
26,14/08/2022,NaN,55432709.0,-37,65390115.0,-29,62,Bullet Train,32
27,07/08/2022,NaN,88004513.0,-6.2,92090558.0,-5.9,48,Bullet Train,31
28,31/07/2022,NaN,93856999.0,-24.4,97884255.0,-22.5,53,DC League of Super-Pets,30
29,24/07/2022,NaN,124080435.0,-5.4,126239585.0,-4.9,52,Nope,29
30,17/07/2022,NaN,131231157.0,-44.7,132813074.0,-44.3,54,Thor: Love and Thunder,28
31,10/07/2022,NaN,237265821.0,+25.9,238358457.0,+25.5,50,Thor: Love and Thunder,27
32,04/07/2022,July 4th long wknd,221928586.0,-,223580059.0,-,40,Minions: The Rise of Gru,26
33,03/07/2022,NaN,188498988.0,+41.4,189927071.0,+41.1,53,Minions: The Rise of Gru,26
34,26/06/2022,NaN,133333162.0,-18.3,134597965.0,-18.2,54,Elvis,25
35,19/06/2022,NaN,163242107.0,-23.1,164531244.0,-23.4,56,Jurassic World: Dominion,24
36,12/06/2022,NaN,212413470.0,+79.4,214852641.0,+76.6,56,Jurassic World: Dominion,23
37,05/06/2022,NaN,118392908.0,-32.2,121670007.0,-31.3,59,Top Gun: Maverick,22
38,30/05/2022,Memorial Day wknd,220038783.0,-,223364859.0,-,47,Top Gun: Maverick,21
39,29/05/2022,NaN,174602102.0,+144.1,177208035.0,+134.2,50,Top Gun: Maverick,21
40,22/05/2022,NaN,71518782.0,-19.7,75659163.0,-17.5,53,Doctor Strange in the Multiverse of Madness,20
41,15/05/2022,NaN,89049541.0,-59.6,91763058.0,-58.7,49,Doctor Strange in the Multiverse of Madness,19
42,08/05/2022,NaN,220282059.0,+252.4,222333899.0,+232.3,45,Doctor Strange in the Multiverse of Madness,18
43,01/05/2022,NaN,62512297.0,-30.7,66904036.0,-28.4,50,The Bad Guys,17
44,24/04/2022,NaN,90218714.0,-14.8,93502811.0,-12.8,45,The Bad Guys,16
45,17/04/2022,NaN,105898267.0,-9.6,107168534.0,-9.7,40,Fantastic Beasts: The Secrets of Dumbledore,15
46,18/04/2022,Easter wknd,118286160.0,-,119498996.0,-,28,Fantastic Beasts: The Secrets of Dumbledore,15
47,10/04/2022,NaN,117176203.0,+46,118700008.0,+43,50,Sonic the Hedgehog 2,14
48,03/04/2022,NaN,80235023.0,+2.2,83007169.0,+1.2,52,Morbius,13
49,27/03/2022,NaN,78479529.0,-2,82040448.0,-1.7,60,The Lost City,12
50,20/03/2022,NaN,80060996.0,-19.4,83455041.0,-18.1,58,The Batman,11
51,13/03/2022,NaN,99316599.0,-39.2,101939737.0,-38.6,53,The Batman,10
52,06/03/2022,NaN,163405808.0,+197.1,166066890.0,+172.7,55,The Batman,9
53,27/02/2022,NaN,55006939.0,-39,60906460.0,-35.6,54,Uncharted,8
54,20/02/2022,NaN,90159064.0,+79,94583877.0,+75.7,52,Uncharted,7
55,21/02/2022,Presidents' Day wknd,106169516.0,-,111455709.0,-,51,Uncharted,7
56,13/02/2022,NaN,50371632.0,-9.8,53837195.0,-9.9,52,Death on the Nile,6
57,06/02/2022,NaN,55860817.0,+81.4,59779023.0,+70.5,52,Jackass Forever,5
58,30/01/2022,NaN,30794469.0,-27,35052113.0,-24,48,Spider-Man: No Way Home,4
59,23/01/2022,NaN,42161017.0,-38.3,46118823.0,-35.5,45,Spider-Man: No Way Home,3
60,17/01/2022,MLK wknd,81219405.0,-,85074757.0,-,37,Scream,2
61,16/01/2022,NaN,68339319.0,+13.3,71534496.0,+13.9,41,Scream,2
62,09/01/2022,NaN,60318053.0,-37,62796729.0,-36.5,35,Spider-Man: No Way Home,1

In [357]:
#convert to date time date type
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)

C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '25/12/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '26/12/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '18/12/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '27/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '20/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '13/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '30/10/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '23/10/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '16/10/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '25/09/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '18/09/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '28/08/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '21/08/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '14/08/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '31/07/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '24/07/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '17/07/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '26/06/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '19/06/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '30/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '29/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '22/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '15/05/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '24/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '17/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '18/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '27/03/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '20/03/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '13/03/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '27/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '20/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '21/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '13/02/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '30/01/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '23/01/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '17/01/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
C:\Users\Yahdii\AppData\Local\Temp\ipykernel_23540\1932662626.py:2: UserWarning: Parsing '16/01/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)

In [358]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  63 non-null     datetime64[ns]
 1   occasion              15 non-null     object
 2   top10_gross           63 non-null     float64
 3   top10_gross_change    63 non-null     object
 4   overall_gross         63 non-null     float64
 5   overall_gross_change  63 non-null     object
 6   num_releases          63 non-null     int64
 7   top_release           63 non-null     object
 8   week_no               63 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 4.6+ KB

### Convert to CSV for PowerBI

In [359]:
df.to_csv('movie.csv')

In [313]:
pwd

'C:\\Users\\Yahdii'